::-webkit-scrollbar {
    width: 8px!important;
}
::-webkit-scrollbar-track {
    background-color: #f5f5f5!important;
}
::-webkit-scrollbar-thumb {
    background-color: #ddd!important;
}
::-webkit-scrollbar-thumb:window-inactive {
	opacity:0.1!important;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

:focus {
	outline: 0;
}

body {
	color: #099FD3;
	*text-align: center;
	position: relative;
	overflow-y: none;
	line-height: 120%;
	-webkit-font-smoothing: antialiased;
	background: #fff url(../img/bg.png) fixed repeat;
}

ol, ul {
	list-style: none;
}

table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}

h1, h2, h3, h4, h5, h6{
	font-family: 'Merriweather', Georgia, Times, serif;
}

iframe{
	width:100%;
}

p{
	color: #4D4D4D;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}	

a{
	-webkit-transition:All 0.3s ease;
	-moz-transition:All 0.3s ease;
	-o-transition:All 0.3s ease;
	color: $corAzul3;
	border-bottom: #099FD3 1px solid;
	padding-bottom: 3px;
	text-decoration: none;
}

a:hover{
	color: #099FD3;
	text-decoration: none;
}

.hide{
	display:none;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color: #4D4D4D;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #4D4D4D;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #4D4D4D;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #4D4D4D;
}

.fill:after{
	content:'';
	clear: both;
	display: block;
}

.clear{clear:both;}

/*------------------------------- HEADER -------------------------------*/

.menu-1{
	background: #099FD3 url(../img/bg-topo.gif) repeat;
	height:109px;
	background-color:rgb(255,255,255);
	-moz-box-shadow:0px 3px 0px rgba(0,0,0,0.2);
	-webkit-box-shadow:0px 3px 0px rgba(0,0,0,0.2);
	box-shadow:0px 3px 0px rgba(0,0,0,0.2);
	-ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=4,Color=#33000000,Positive=true)";
	filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=4,Color=#33000000,Positive=true);
}

.logo{
	position:relative;
	border-bottom: none!important;
	float:left;
}

.logo img{
	position: absolute;
	top: 10px;
	left: -20px;
}

.menu-topo{
	width:100%;
	padding:20px 0;
	font-size: 12px;
	color:EDEDED;
	letter-spacing: -1px;
}

.info-topo{
	float:left;
}

.info-topo span{
	display:inline-block;
	margin-left:20px;
	font-size: 12px;
	color:#f5f5f5!important;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	float:left;
	font-weight: bold;
}

.menu-institucional{
	float:right;
}

.menu-institucional ul li{
	display:inline-block;
	margin-left: 10px;
}

.menu-institucional ul li a{
	text-transform: uppercase;
	font-size: 12px;
	color:#f5f5f5;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-weight: bold;
}

.menu-institucional ul li a:hover{
	border-bottom: 1px solid #EF4733;
}

body.home .navbar{
	border-bottom: 1px solid #47C1E2;
} 

.navbar{
	border-top: 1px solid #47C1E2;
	font-family: 'Merriweather', Georgia, Times, serif;
	font-style: italic;
	margin-top: 18px;
	margin-bottom: 0px;
	width: 685px;
	float: right;
	height:52px!important;
	border-radius: 0 3px 3px 0!important;
}

.navbar .container-fluid{
	padding:0px;
	margin:0px;
}

.navbar ul li{
	margin-right: 10px;
}

.navbar ul li:last-child{
	margin-right: 0px;
}

.navbar ul li a{
	color: #f5f5f5;
	padding:15px ;
	border:none!important;
	font-weight: bolder;
}

.navbar ul li a:hover{
	color:#099FD3!important;
	background-color: #f5f5f5!important;
}

.navbar-collapse.collapse{
	padding:0px;
}

.navbar ul li a.active{
	color:#604D11;
	background-color: #EF4733;
	font-weight: bolder;
	padding:16px;
	background-color: #F4BA00;
	height: 50px;
	margin-left: 1px!important;
}

.navbar ul li a.active:hover{
	color:#FFF!important;
	background-color: #EF4733!important;	
}

.navbar ul li a:hover{
	background-color: none!important;
}

body.home .menu-1{
	height:235px;
}


/*------------------------------- GERAIS -------------------------------*/

.breadcrumb{
	margin-top: 50px;
}

#breadcrumbs{
    list-style:none;
    margin:10px 0;
    overflow:hidden;
}
 
#breadcrumbs li{
    float:left;
    margin-right:15px;
}
 
#breadcrumbs .separator{
    font-weight:700;
    font-size:20px;
    color:#999;
}

.box{
	float:left;
	display:inline-block;
	position:relative;
	margin:10px;
	border-bottom: 2px solid #f5f5f5;
}

.box:hover{
	border-bottom: 2px solid #099FD3;
}

.box-produto{
	width:203px;
	height:300px;
	margin-right: 35px;
	margin-bottom:25px;
}

.box-produto:nth-child(4), .box-produto:nth-child(7){
	margin-right: 0px;
	margin-left: 0px;
}

.box-produto-categoria{
	width:335px;
	height:400px;
	margin-right: 20px
}

.box-produto-categoria:nth-child(odd){
	margin-right: 0px;
	margin-left: 0px;
}

.box a{
	border-bottom: none;
	padding-bottom: 0px
}

.box img{
	width:100%;
	height:auto;
	border: 1px solid #f5f5f5;
	border-radius: 3px 3px 0 0;
	margin-bottom: 10px;
	opacity:0.9;
	background-color: #f5f5f5;
}

.box:hover img{opacity:1;}

.box h2{
	font-size: 18px;
	color:#333;
	display:inline-block;
	font-weight: bolder;
}

.ref{
	font-style: italic;
	color:#aaa;
	font-size: 12px;
	display:block;
}

.categoria{
	color:#aaa;
	font-size: 14px;
	display:inline-block;
	position:absolute;
	left:0;
	bottom:10px;
	font-size: 12px;
}

.categoria small{
	background-color: #f5f5f5;
	border-radius: 3px;
	padding:3px 5px;
	margin-right: 5px;
	color:#aaa;
	font-size: 12px;
}

body.tax-tipo-de-eletro .tipo-de-moveis{
	display:none;
}

body.tax-tipo-de-eletro .fast-frete h2{
	padding-left: 85px;
}

.side{
	padding:15px;
	height:auto;
	margin-bottom: 25px;
}

.valor{
	position:absolute;
	bottom:10px;
	right:0px;
	font-weight: bolder;
	font-family: 'Merriweather', Georgia, Times, serif;
	width:150px;
	text-align: right;
}

.valor p{
	color:#aaa;
	text-decoration: line-through;
	font-size: 12px;
	font-family: 'Merriweather', Georgia, Times, serif;
	text-align: right;
}

.valor p:last-child{
	color:#099FD3;
	font-size: 18px;
	text-decoration:none;
}

.valor-single{
	position:relative;
}

.slider{
	height:360px;
	width:700px; 
	margin-bottom: 40px;
}

.carousel-indicators li{
	border-color: #f5f5f5;
	background-color: #f5f5f5;
}

.carousel-inner{
	height:400px;
}

.info-pedido{
	background-color: #f5f5f5;
}

.menu-moveis{
	width:686px;
}

.menu-moveis li{
	width:20%;
	display:inline-block;
	float:left;
	margin-right: 0px!important;
}

.menu-moveis li a{
	font-size: 14px!important;
	color:#666!important;
	border-bottom:none!important;
	padding:0!important;
}

.menu-moveis .children li a{
	font-style: normal!important;
	color:#888!important;
	font-weight: normal!important;
}

.navbar ul li ul li a:hover, .navbar ul li a:hover{
	background: none;
	text-decoration: underline;
}

.dropdown-menu a:hover{
	background-color: none!important;
}

li.open .dropdown-toggle{
	color:#099FD3;
}

.menu-moveis li ul li{
	width:100%!important;
}

.children ul {
	list-style: circle!important;
}

.children li a{
	border-bottom:none;
	padding:10px;
	padding-left: 15px;
	color:#444;
}

.navbar-nav {
	height:52px!important;
}

.navbar-nav>li>.dropdown-menu{
	padding:10px;
	margin:0px!important;
	padding-right: 0px;
	padding-left: 20px;
}

.telefone{
	background: #F4BA00 url(../img/ico-ligamos.png) no-repeat 12px 12px;
	padding:12px 10px 12px 44px;
	margin-bottom: 20px;
}

.telefone a{
	border-bottom: none;
	color:#fff!important;
}

.telefone h2{
	font-size: 14px;
	font-weight: bolder;
	font-style: italic;
	font-family: 'Merriweather', Georgia, Times, serif;
	color:#fff;
}

.telefone span{
	font-size: 22px;
	letter-spacing: -2px;
	font-weight: bolder;
	font-family: 'Merriweather', Georgia, Times, serif;
	line-height: 20px;
	color:#fff!important;
}
.numero-tel small{
	font-size: 12px;
}

#searchform{
	position:relative;
	margin-bottom: 20px;
}

#s{
	border: none;
	width: 100%;
	padding: 10px;
	font-size: 16px;
	font-weight: bolder;
	font-family: 'Merriweather', Georgia, Times, serif;
	text-decoration: underline;
	padding-right: 35px;
}

#searchsubmit{
	width:40px;
	height:40px;
	border:none;
	position:absolute;
	top:0;
	right:0;
	background:url(../img/ico-lupa.png) no-repeat center center;
}

.fast-frete{
	background-color: #099FD3;
	padding:12px;
	font-family: 'Merriweather', Georgia, Times, serif;
	color:#fff;
	margin-bottom: 20px;
}

.fast-frete h2{
	border-bottom: 1px solid #fff;
	padding:15px 8px 15px 70px;
	font-style: italic;
	color:#fff;
	font-weight: bolder;
	background:url(../img/ico-fast-frete.png) no-repeat center left;
	background-size: 37%; 
}

.fast-frete p{
	font-family: 'Merriweather', Georgia, Times, serif;
	color:#fff;
	padding-top: 8px;
	font-size: 14px;
}

.chat{
	background-color: #099FD3;
	padding:12px;
	background: #EF4733 url(../img/ico-chat.png) no-repeat 12px 12px;
	background-size: 25%; 
}

.chat a h2{
	font-style: italic;
	color:#fff;
	font-weight: bolder;
	margin-left: 55px;
	padding-bottom:8px;
	border-bottom: 1px solid #fff;
}

.chat a p{
	font-family: 'Merriweather', Georgia, Times, serif;
	color:#fff;
	padding-top: 8px;
	font-size: 14px;
	padding-left: 55px
}

.ligamos{
	padding:20px;
	background: #F4BA00 url(../img/ico-ligamos2.png) no-repeat 20px 20px;
	margin-bottom: 20px;
}

.ligamos h2{
	font-weight: bolder;
	font-style: italic;
	font-family: 'Merriweather', Georgia, Times, serif;
	color:#fff;
	margin-left: 60px;
	border-bottom: 1px solid #fff;
	padding-bottom: 6px
}

.ligamos p{
	color:#fff;
	padding-left: 60px;
	font-family: 'Merriweather', Georgia, Times, serif;
	font-size: 14px;
	margin-top:8px;
}

.ddd{
	margin:20px 10px 10px 0;
	width:20%;
	display:inline-block;
	padding: 6px 10px;
	border:none;
	font-family: 'Merriweather', Georgia, Times, serif;
}

.ligamos form{
	border-radius: 5px;
}

.tel{
	margin:20px 0 10px 0;
	width:71%;
	display:inline-block;
	padding: 6px 10px;
	border:none;
	font-family: 'Merriweather', Georgia, Times, serif;
}

.submit-ligamos{
	width:100%;
	border:none;
	padding:10px;
	text-align: center;
	font-weight: bolder;
	margin-top: 5px;
	font-family: 'Merriweather', Georgia, Times, serif;
	font-style: italic;
	background-color:#EAD070;
	color:#8F7619;
}

.tags{
	background-color: #f5f5f5;
	float:left;
	margin-bottom: 20px;
}

.post_tags a{
	padding:4px 8px;
	background-color: #fff;
	border-radius:3px;
	margin:2px;
	border:none;
	display:inline-block;
	float:left;
	font-size: 12px
	font-family: 'Merriweather', Georgia, Times, serif;
	font-style: italic;
}

.post_tags a:hover{
	background-color: #099FD3;
	color:#fff;
}

.tags h2{
	font-weight: bolder;
	font-family: 'Merriweather', Georgia, Times, serif;
	font-style: italic;
	border-bottom: 1px solid #ddd;
	padding-bottom: 6px;
	margin-bottom:6px;
}

.sob-medida{
	float:left;
	background: #EF4733 url(../img/ico-sob-medida.png) no-repeat 20px 20px;
	background-size: 20%;
}

.sob-medida h2{
	font-weight: bolder;
	font-style: italic;
	font-family: 'Merriweather', Georgia, Times, serif;
	color:#fff;
	margin-left: 60px;
	border-bottom: 1px solid #fff;
	padding-bottom: 6px
}

.sob-medida p{
	color:#fff;
	padding-left: 60px;
	font-family: 'Merriweather', Georgia, Times, serif;
	font-size: 14px;
	margin-top:8px;
}


/*------------------------------- INDEX -------------------------------*/

.conteudo-index{
	margin-top: -78px;
}

.ofertas-home{
	margin-bottom: 40px;
	float:left;
}

.titulo-wrap{
	display: block;
	float: none;
	width: 100%;
	height: 50px;
}

.titulo-secao{
	height:44px;
	padding:8px 12px;
	color:#fff;
	font-weight: bolder;
	font-style: italic;
	float:left;
}

.seta-amarela{
	background: url(../img/seta-amarela.png) no-repeat center left;
}

.seta-vermelha{
	background: url(../img/seta-vermelha.png) no-repeat center left;
}

.seta-azul{
	background: url(../img/seta-azul.png) no-repeat center left;
}

/*------------------------------- SINGLE -------------------------------*/

.filtros h2{
	font-style: italic;
	font-weight: bolder;
	margin-top: 20px;
	margin-bottom: 10px;
	font-size: 18px;
}

.filtros ul{
	margin-bottom: 10px;
}


.filtros ul li a{
	color:#666;
	border-bottom: 0px;
	font-weight: bolder;
	font-family: 'Merriweather', Georgia, Times, serif;
	font-size: 14px;
}

.filtros ul li a:hover{
	text-decoration: underline;
}

.filtros ul li ul{
	list-style: none;
}

.filtros ul li ul li a{
	color:#888!important;
	font-weight: normal!important;
	font-family: 'Merriweather', Georgia, Times, serif;
	font-size: 14px;
}

.trail-browse{
	display:none;
}

.breadcrumb-trail a{
	color:#888!important;
	border-bottom: 0px;
}

.breadcrumb-trail a:hover{
	text-decoration: underline;
}

.sep{margin:0 5px;}

.capa-produto{
	width:700px;
}

.capa-produto img{
	width:100%;
	border:1px solid #eee;
}

/*------------------------------- ARQUIVO -------------------------------*/


/*------------------------------- FOOTER -------------------------------*/

footer{
	background: #f5f5f5 url(../img/bg-rodape.gif) repeat;
	padding:70px 0;
	margin-top: 50px;
	height:530px;
	background-color:rgb(255,255,255);
	-moz-box-shadow:0px -3px 0px rgba(0,0,0,0.2);
	-webkit-box-shadow:0px -3px 0px rgba(0,0,0,0.2);
	box-shadow:0px -3px 0px rgba(0,0,0,0.2);
	-ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=4,Color=#33000000,Positive=true)";
	filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=4,Color=#33000000,Positive=true);
}

.bloco-rodape{
	height:100px;
	margin-top: 30px;
}

.bloco-rodape h3{
	font-family: 'Helvetica', sans-serif;
	font-size: 12px;
	text-transform: uppercase;
	padding-bottom: 8px;
	color:#444!important;
}

.footer a, .footer p, .footer address{
	color:#888;
	border-bottom: none;
	font-size: 14px;
	font-family: 'Merriweather', Georgia, Times, serif;
}

.footer a:hover{
	color:#099FD3;
}

.resumo-sobre p{
	padding-right: 50px;
	margin-top: 20px;
}

.menu-apoio{
	margin-top: 50px;	
}




/*------------------------------- EXTERNOS -------------------------------*/


/*::::::::::::::::::slider interno:::::::::::::::::::*/


.ad-gallery {
  width: 460px;
}
.ad-gallery, .ad-gallery * {
  margin: 0;
  padding: 0;
}
  .ad-gallery .ad-image-wrapper {
    width: 100%;
    height: 300px!important;
    position: relative;
    overflow: hidden;
    margin-bottom: 5px;
  }
    .ad-gallery .ad-image-wrapper .ad-loader {
     position: absolute;
     z-index: 10;
     top: 108px;
     left: 160px;
    }
    .ad-gallery .ad-image-wrapper .ad-next {
      position: absolute;
      right: 0;
      top: 0;
      width: 25%;
      height: 100%;
      cursor: pointer;
      display: block;
      z-index: 200;
    }
    .ad-gallery .ad-image-wrapper .ad-prev {
      position: absolute;
      left: 0;
      top: 0;
      width: 25%;
      height: 100%;
      cursor: pointer;
      display: block;
      z-index: 200;
    }
    .ad-gallery .ad-image-wrapper .ad-prev, .ad-gallery .ad-image-wrapper .ad-next {
      /* Or else IE will hide it */
      background:url(trans.gif);
    }
      .ad-gallery .ad-image-wrapper .ad-prev .ad-prev-image, .ad-gallery .ad-image-wrapper .ad-next .ad-next-image {
        background: url(images/left.png) no-repeat center center;
        width: 50px;
        height: 50px;
        display: none;
        position: absolute;
        top: 47%;
        left: 10px;
        z-index: 101;
      }
      .ad-gallery .ad-image-wrapper .ad-next .ad-next-image {
        background: url(images/right.png) no-repeat center center;
        width: 50px;
        height: 50px;
        right: 10px;
        left: auto;
        
      }
    .ad-gallery .ad-image-wrapper .ad-image {
      position: absolute;
      overflow: hidden;
      top: 10px!important;
      left: 0px!important;
      z-index: 9;
      width: 460px;
    }
      .ad-gallery .ad-image-wrapper .ad-image a img {
        border: 0;
      }
      .ad-gallery .ad-image-wrapper .ad-image .ad-image-description {
        position: absolute;
        bottom: 0px;
        left: 0px;
        padding: 7px;
        text-align: left;
        width: 100%;
        z-index: 2;
        background: url(opa75.png);
        color: #000;
      }
        .ad-gallery .ad-image-wrapper .ad-image .ad-image-description .ad-description-title {
          display: block;
        }
  .ad-gallery .ad-controls {
    height: 20px;
  }
    .ad-gallery .ad-info {
      float: left;
    }
    .ad-gallery .ad-slideshow-controls {
      float: right;
    }
      .ad-gallery .ad-slideshow-controls .ad-slideshow-start, .ad-gallery .ad-slideshow-controls .ad-slideshow-stop {
        padding-left: 5px;
        cursor: pointer;
      }
      .ad-gallery .ad-slideshow-controls .ad-slideshow-countdown {
        padding-left: 5px;
        font-size: 0.9em;
      }
    .ad-gallery .ad-slideshow-running .ad-slideshow-start {
      cursor: default;
      font-style: italic;
    }
  .ad-gallery .ad-nav {
    width: 100%;
    position: relative;
  }
    .ad-gallery .ad-forward, .ad-gallery .ad-back {
      position: absolute;
      top: 0;
      height: 100%;
      z-index: 10;
    }
    /* IE 6 doesn't like height: 100% */
    * html .ad-gallery .ad-forward, .ad-gallery .ad-back {
      height: 100px;
    }
    .ad-gallery .ad-back {
      cursor: pointer;
      left: -20px;
      width: 100px;
      display: block;
     background: transparent;
      right:0!important;
    }
    .ad-gallery .ad-forward {
      cursor: pointer;
      display: block;
      right: -20px;
      width: 100px;
      background: transparent;
      right:0!important;
    }
    .ad-gallery .ad-nav .ad-thumbs {
      overflow: hidden;
      width: 100%;
    }
      .ad-gallery .ad-thumbs .ad-thumb-list {
        float: left;
        width: 9000px;
        list-style: none;
      }
        .ad-gallery .ad-thumbs li {
          float: left;
          padding-right: 5px;
        }
          .ad-gallery .ad-thumbs li a {
            display: block;
          }
            .ad-gallery .ad-thumbs li a img {
              display: block;
              width: 80px;
            }

/* Can't do display none, since Opera won't load the images then */
.ad-preloads {
  position: absolute;
  left: -9000px;
  top: -9000px;
}

.ad-controls{
	display: none;
}

.equipe-colecao{
	font-size: 12px!important;
	font-style: italic;
	float: left;
	padding: 10px 0;
	color: #F0E4D1!important;
}
